<!DOCTYPE html> 
<html lang="en" style="height:100%;">
    <head content="B"> 
        <meta charset="utf-8"> 
        <title>JOY </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="keywords" content />
        <meta name="description" content />
        <link rel="shortcut icon" href="ico/favicon.png"> 
        <!-- Core CSS -->         
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <!-- Style Library -->         
        <link href="css/style-library-1.css" rel="stylesheet">
        <link href="css/plugins.css" rel="stylesheet">
        <link href="css/blocks.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->         
        <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->         
        <meta name="author" content="Bracketlogic">
    </head>     
    <body data-spy="scroll" data-target="nav" class="startup">
        <div class="bgImg bg-image-cover"></div>
        <div class="loading" data-pg-name="loading">
            <img src="img/joy_logoAsset%201.png" width="80" class="fa fa-pulse fa-rotate-90" />
        </div>
        <div class="full_wrap soft-scroll"></div>
        <div class="container-fluid wrapper">
            <div class="row text-center">
                <div class="full_center pad15 pad-bottom15 margin-bottom60">
                    <button type="button" class="btn btn-default back black bg-transparent no-shadow" id="back">
                        <i class="fa fa-chevron-left fa-2x"></i>
                    </button>
                    <img src="img/joy_logoAsset 1.png" width="150" />
                    <div class="login">
                        <h3 class="hide">THIS is JOY</h3>
                        <p>JOY is a media platform where you can get the latest series, movie and music of high quality streaming or download.</p>
                        <form role="form" class="text-left" method="get" action="/home"> 
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Username"> 
                            </div>
                            <div class="form-group"> 
                                <input type="password" class="form-control" placeholder="Password"> 
                            </div>                             
                            <div class="checkbox"> 
                                <label class="control-label"> 
                                    <input type="checkbox"> Check me out                        
                                </label>                                 
                            </div>
                            <a class="milanored" id="forget">? Forgotten login credientials</a>
                            <div class="clearfix clear-columns"></div>
                            <button class="btn bg-moonlight white" type="submit" style="margin-right:10px" href="home.html">login</button>
                            <a class="btn white bg-milanored btnReg" id="startupReg">register</a> 
                        </form>
                        <div class="hide" id="forget">
                            <label class="control-label text-uppercase">Or login with</label>
                            <button type="button" class="btn btn-block bg-moonlight white-hover">
                                <i class="fa fa-facebook-official fa-lg fa-fw white"></i>Facebook
                            </button>
                        </div>
                    </div>
                    <div class="reg">
                        <h3 class="crsa-selected text-uppercase">Registration</h3>
                        <h6 class="crsa-selected text-left">Please fill in all required fills</h6>
                        <form role="form" class="text-left" method="post" name="registration" action="/"> 
                            <div class="form-group"> 
                                <input type="text" class="form-control" placeholder="First Name" required> 
                            </div>
                            <div class="form-group"> 
                                <input type="text" class="form-control" placeholder="Last Name" required> 
                            </div>
                            <div class="form-group"> 
                                <input type="text" class="form-control" placeholder="Username" required> 
                            </div>
                            <div class="form-group"> 
                                <input type="tel" class="form-control" placeholder="Phone Number" required> 
                            </div>
                            <div class="form-group"> 
                                <input type="date" class="form-control" placeholder="Date Of Birth" required> 
                            </div>
                            <div class="form-group"> 
                                <input type="email" class="form-control" placeholder="Enter your AUN email" required> 
                            </div>                             
                            <div class="form-group"> 
                                <input type="password" class="form-control" placeholder="Password" required> 
                            </div>
                            <div class="form-group"> 
                                <input type="password" class="form-control" placeholder="Re-type Password" required> 
                            </div>                             
                            <button type="submit" class="btn bg-milanored white-hover">Submit</button>                             
                        </form>
                    </div>
                    <div class="forget">
                        <form role="form" class="text-left" action="/" method="post" name="forgotten">
                            <h3 class="text-center text-uppercase">Forgotten Credentials</h3> 
                            <div class="form-group"> 
                                <label class="control-label" for="exampleInputEmail1">Email address</label>                                 
                                <input type="email" class="form-control" placeholder="Enter email"> 
                            </div>                             
                            <button type="submit" class="btn bg-sienna">Submit</button>                             
                        </form>
                    </div>                     
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bg-black footer"> 
                    <p class="margin-top5 margin-bottom5 white text-right">Powered by Bracketlogic</p>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>         
        <script type="text/javascript" src="js/bootstrap.min.js"></script>         
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/bskit-scripts.js"></script>         
        <script type="text/javascript" src="js/core.js"></script>         
    </body>     
</html>
