
@font-face {
  font-family: 'Organocoloredversionat-logomagazin-comorgano-font';
  src: url('Organocoloredversionat-logomagazin-comorgano-font.eot?#iefix') format('embedded-opentype'),  url('Organocoloredversionat-logomagazin-comorgano-font.woff') format('woff'), url('Organocoloredversionat-logomagazin-comorgano-font.ttf')  format('truetype'), url('Organocoloredversionat-logomagazin-comorgano-font.svg#Organocoloredversionat:logomagazin.comorgano-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
